* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../img/bg.jpg) no-repeat center top;
    background-size: cover;
    cursor: url('../img/mata_mosca.png'), pointer;
    overflow: hidden;
    height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

#cliqueMosca,
#imagemMosca {
    cursor: url('../img/mata_mosca.png') 10 10, pointer;
}


#nivelJogo {
    width: 250px;
}

#jogo {
    height: 92vh;
    width: 100%;
    margin-top: 67px;
    position: relative;
}

#imagemMosca {
    position: absolute;
}

.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}

@media (max-width: 576px) {

    #game {
        width: 400px;
    }

    #imgvitoria {
        width: 400px;
    }

    #imgGameOver {
        width: 400px;
    }
}